{% extends "base.html.twig" %}


{% block body %}

	<div class="justify-content-md-center">
		<h1>Administration</h1>

		<ul>
			<li><a href="{{ '/admin/articles' }}">Gérer tout les articles...</a></li>
		</ul>
	</div>

{% endblock %}
