{% extends "base.html.twig" %}


{% block body %}

	<div class="justify-content-md-center row">
		<h1>Administration</h1>

		<a href="{{ '/admin/articles' }}" class="btn btn-primary col-md-3 m-1">Liste des articles</a>
		<a href="{{ '/admin/articles' }}" class="btn btn-primary col-md-3 m-1">...</a>
		<a href="{{ '/admin/articles' }}" class="btn btn-success col-md-3 m-1"> + Nouvel Article</a>
	</div>

{% endblock %}
