{% extends "base.html.twig" %}


{% block body %}

	<div class="justify-content-md-center row">
		<h1>Administration</h1>

		<a href="{{ path('admin.articles') }}" class="btn btn-primary col-md-12 m-4">Liste des articles</a>
		<a href="{{ path('admin.articles') }}" class="btn btn-primary col-md-12 m-4">...</a>
		<a href="{{ path('admin.articles') }}" class="btn btn-success col-md-12 m-4"> + Nouvel Article</a>
	</div>

{% endblock %}
