{% extends "base.html.twig" %}


{% block body %}
	<div class="row m-4">
		<h1>Gestion des articles</h1>
	</div>
	<div class="justify-content-md-center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr scope="row">
						<td>{{ article.name }}</td>
						<td><a href="{{ path('admin.article.edit', {id: article.id}) }}" class="btn btn-secondary">Gérer l'article</a></td>
					</tr>
				{% endfor %}

			</tbody>
			</table>
		</div>
	</div>

{% endblock %}
