{% extends "base.html.twig" %}


{% block body %}

<div class="row m-2">
<h2>Les derniers articles...</h2>
</div>


		<div class="flexContainer justify-content-md-center">
			{% for article in articles %}
				<div class="  cardArticle m-1">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ article.name }}</h5>
						<p class="card-text">{{ article.contenu }}</p>
						<a href="#" class="btn btn-dark">Lire L'article...</a>
					</div>
				</div>
			{% endfor %}
	</div>

	{{ dump(articles) }}

{% endblock %}
